.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-grid {
  display: grid;
  grid-template-columns: 390px;
  grid-template-rows: 75px 650px 75px;
  grid-template-areas: "header" "content" "footer";
}

#header {
  grid-area: header;
}

#sidecar {
  grid-area: sidecar;
  padding-left: 25px;
}

#content {
  grid-area: content;
}

#footer {
  grid-area: footer;
  background-color: #907aa8;
}

@media (max-width: 399px) {
  .about-grid {
    display: flex;
    flex-direction: block;
  }
}

@media (min-width: 400px) and (max-width: 900px) {
  .container-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 500px 75px;
    grid-template-areas: "header" "content" "footer";
  }

  .about-grid {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 901px) {
  .container-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 900px 75px;
    grid-template-areas: "header" "content" "footer";
  }

  .about-grid {
    display: flex;
    flex-direction: row;
  }
}
