p {
  font-family: "Architects Daughter", cursive;
}

h1,
h2,
h3,
h4 {
  font-family: "Tenali Ramakrishna", sans-serif;
}

li {
  color: #907aa8;
}

a {
  font-family: "Tenali Ramakrishna", sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
    list-style-type: none;
    padding-inline-start: 0;
  }
  
.cat-image {
  border-radius: 50%;
}

.icon-center { 
  text-align: center;
  padding: 20px;
}

.bio-overflow {
  overflow: scroll;
}

.headerText {
  font-size: 50px;
}

