h1,
h2 {
  font-family: "Tenali Ramakrishna", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 25px;
}

a:hover {
  color: #1a0433;
  text-decoration: underline #1a0433;
}

button {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  width: 75px;
  background-color: #907aa8;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: white;
  color: #907aa8;
  border: 2px solid #907aa8;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  display: inline;
}

.text-center {
  text-align: center;
}

.footer-text {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 10px;
}


.navbar { 
  list-style-type: none;
  padding-inline-start: 0;
}

.card {
  border-radius: 20px;
  background-color: #dfbcc0;
  overflow: scroll;
}

@media (max-width: 399px) {
  .card {
    width: auto;
    height: 100px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    font-family: "Architects Daughter", cursive;
    font-size: 10px;
  }
}

@media (min-width: 400px) and (max-width: 900px) {
  .card {
    width: auto;
    height: 120px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    font-family: "Architects Daughter", cursive;
    font-size: 13px;
  }
  .footer-text {
    font-size: 20px;
  }

  button {
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
  }

  li {
    display: block;
  }
}

@media (min-width: 901px) {
  .card {
    width: auto;
    height: 350px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    font-family: "Architects Daughter", cursive;
    font-size: 15px;
  }

  .footer-text {
    font-size: 25px;
  }

  button {
    font-size: 20px;
    margin-bottom: 5px;
    width: 100px;
  }

  li {
    display: block;
  }
}
